name: StatisticsAPI CI

on:
  workflow_dispatch:
    
  push:
    branches: [ main ]
    paths:
      - "src/StatisticsAPI/**"
      - "tests/StatisticsAPI.UnitTests/**"
  pull_request:
    branches: [ main ]
    paths:
      - "src/StatisticsAPI/**"
      - "tests/StatisticsAPI.UnitTests/**"

jobs:
  release:
    uses: ./.github/workflows/_cicd.yaml
    with:
      app_name: "StatisticsAPI"
      app_path: "src/StatisticsAPI"
      test_project: "tests/StatisticsAPI.UnitTests/StatisticsAPI.UnitTests.csproj"
      version_namespace: "statistics-api"
      docker_image: "fkauff/statistics-api"