name: StatisticsAPI CI/CD

on:
  workflow_dispatch:
    
  push:
    branches: [ main ]
    paths:
      - "src/StatisticsAPI/**"
      - "tests/StatisticsAPI.UnitTests/**"
  pull_request:
    branches: [ main ]
    paths:
      - "src/StatisticsAPI/**"
      - "tests/StatisticsAPI.UnitTests/**"

permissions:
  contents: write
  
jobs:
  release:
    uses: ./.github/workflows/_cicd.yaml
    secrets: inherit
    with:
      app_name: "StatisticsAPI"
      app_project_path: "src/StatisticsAPI"
      test_project_path: "tests/StatisticsAPI.UnitTests"
      test_project_file: "tests/StatisticsAPI.UnitTests/StatisticsAPI.UnitTests.csproj"
      version_namespace: "statistics-api"
      docker_image: "fkauff/statistics-api"